# AICell
PORT=3011

## Mongodb config
MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_DB=<YOUR_DB>
MONGODB_USER=<YOUR_USER>
MONGODB_PASSWORD=<YOUR_PWD>

## BNBGreenField Config
BNBGREENFIEL_HOST="https://gnfd-testnet-fullnode-tendermint-ap.bnbchain.org"
BNBGREENFIEL_PORT="5600"
BNBGREENFIEL_ENDPOINT="https://gnfd-testnet-sp1.bnbchain.org"
BNBGREENFIELD_ACCOUNT_ADDRESS=<YOUR_ACCOUNT_ADDRESS>
BNBGREENFIELD_ACCOUNT_PRIVATEKEY=<YOUR_ACCOUNT_PRIVATEKEY>

## Crypto Config
AES_SECRET_KEY=<YOUR_SECRET_KEY> # Remember never loss this secret key!!!

## AI Config（Only for Dev）
OPENAI_API_KEY=
PROMPT_IMAGES_PATH=
MIDJOURNEY_PROXY_URL=